services:

  gateaway:
    image: 'maven:3.9.11-eclipse-temurin-25-alpine'
    working_dir: /app
    volumes:
      - ./gateaway:/app
    ports:
      - '8085:8085'
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - JAVA_TOOL_OPTIONS=-Dspring.devtools.restart.enabled=true
    command: mvn spring-boot:run
    depends_on:
      - auth-service
      - product-service

  auth-service:
    image: 'maven:3.9.11-eclipse-temurin-25-alpine'
    working_dir: /app
    volumes:
      - ./auth-service:/app
    ports:
      - '8080:8080'
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - JAVA_TOOL_OPTIONS=-Dspring.devtools.restart.enabled=true
    command: mvn spring-boot:run
    depends_on:
      - auth-db

  product-service:
    image: 'maven:3.9.11-eclipse-temurin-25-alpine'
    working_dir: /app
    volumes:
      - ./product-service:/app
    ports:
      - '8081:8081'
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - JAVA_TOOL_OPTIONS=-Dspring.devtools.restart.enabled=true
    command: mvn spring-boot:run
    depends_on:
      - mongodb
  mongodb:
    image: 'mongo:latest'
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpwd
    volumes:
      - mongo-data:/data/db

  auth-db:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=auth'
      - 'POSTGRES_PASSWORD=auth'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
    volumes:
      - auth-db-data:/var/lib/postgresql
volumes:
  auth-db-data:
  mongo-data:
